<div class="card-columns">
    <div class="card" *ngFor="let game of games">
        <img [src]="game.image" class="card-img-top" [alt]="game.image">
        <div class="card-body">
            <h5 class="card-title">{{ game.title }}</h5>
            <p class="card-text"> {{ game.description }}</p>
            <div class="d-flex justify-content-end">
                <a [routerLink]="['edit/', game.id ]" class="btn btn-info">Editar</a>
                <button class="btn btn-danger" (click)="deleteGame( game.id )"><i class="far fa-trash-alt"></i></button>
            </div>
        </div>
        <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
        </div>
    </div>
</div>